//
// Global style settings
//

// Type
$font-size: 12px;

$font-weight-month: 600;

// Color
$background-color: #fff;
$border-color: #ccc;
$light-grey: #eee;

// Border
$box-shadow: 0 0 5px $border-color;
$border-radius: 5px;

// Size
$datepicker-width: 210px;