//
// Mixins that generate popover styles
//
// Popovers are small widgets appearing as an overlay
// with an arrow pointing to the origin that triggered it.
//
// Datepickers are popovers containing a calendar widget and
// refer to an input field.
//

@mixin popover-base($position, $arrow-size, $border-size, $border-color, $background-color) {
  position: absolute;
  
  @if $position == "top" {
    margin-bottom: $arrow-size;
    bottom: 100%;
  } @else if $position == "bottom" {
    margin-top: $arrow-size;
    top: 100%;
  }
  
  &:before,
  &:after {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    border-style: solid;
    left: 50%;
  }
  
  &:before {
    border-color: $border-color transparent;
    margin-left: -$arrow-size;
    
    @if $position == "top" {
      bottom: -$arrow-size;
      border-width: $arrow-size $arrow-size 0;
    } @else if $position == "bottom" {
      top: -$arrow-size;
      border-width: 0 $arrow-size $arrow-size;
    }
  }
  
  &:after {
    border-color: $background-color transparent;
    margin-left: -($arrow-size - $border-size);
    
    @if $position == "top" {
      bottom: -($arrow-size - $border-size);
      border-width: ($arrow-size - $border-size) ($arrow-size - $border-size) 0;
    } @else if $position == "bottom" {
      top: -($arrow-size - $border-size);
      border-width: 0 ($arrow-size - $border-size) ($arrow-size - $border-size);
    }
  }
}

// Popovers showing up over its triggering element
@mixin popover-over($arrow-size, $border-size, $border-color, $background-color) {
  @include popover-base("top", $arrow-size, $border-size, $border-color, $background-color);
}

// Popovers showing up under its triggering element
@mixin popover-under($arrow-size, $border-size, $border-color, $background-color) {
  @include popover-base("bottom", $arrow-size, $border-size, $border-color, $background-color);
}